@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #1a1f2b;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  position: relative;
  z-index: 0;
  border: 2px solid #00a994;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
}

.startGame #initialScreen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  height: 100%;
}
.startGame .introheader {
  color: #FFF;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}
.startGame .flex {
  display: flex;
  flex-direction: column;
}
.startGame .flex p {
  color: #FFF;
  text-align: center;
  font-weight: 400;
  margin-top: 1rem;
}
.startGame .flex #error {
  color: #f63f63;
  margin-bottom: 1rem;
}
.startGame #gameScreen {
  height: 100vh;
}
.startGame #gameScreen div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.startGame .form-group input[type=text] {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 10px;
}
.startGame #newGameButton,
.startGame #joinGameButton {
  font-weight: 300;
  padding: 10px;
  background-color: #00a994;
  color: #FFF;
  border: none;
  cursor: pointer;
}
.startGame #newGameButton:hover,
.startGame #joinGameButton:hover {
  background-color: #f63f63;
}

#overlay {
  position: absolute;
  height: 100vh;
  background-color: #1a1f2b;
  width: 100vw;
  top: 0;
  left: 0;
  opacity: 0.9;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 2.5rem;
}
#overlay #overlaycontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#overlay #overlaycontainer #rematch,
#overlay #overlaycontainer #home {
  margin-top: 1rem;
  margin-right: 1rem;
  font-weight: 300;
  font-size: 1rem;
  padding: 10px;
  background-color: #00a994;
  color: #FFF;
  border: none;
  cursor: pointer;
}
#overlay #overlaycontainer #rematch:hover,
#overlay #overlaycontainer #home:hover {
  background-color: #f63f63;
}

#gameScreen {
  display: none;
}
#gameScreen #Copy {
  display: block;
  border: none;
  padding: 0.5rem 0.5rem;
  margin: 0;
  text-decoration: none;
  background: #00a994;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-bottom: 1rem;
}
#gameScreen #Copy:hover {
  background-color: #f63f63;
}
#gameScreen #gameCodeDisplay {
  color: #FFF;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}
#gameScreen #countdown {
  color: white;
  text-align: center;
  transition: 1s ease-in-out;
}
#gameScreen .players {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  align-items: center;
}
#gameScreen .players h4 {
  color: #FFF;
}
#gameScreen .players .player1,
#gameScreen .players .player2 {
  height: 20px;
  width: 20px;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}
#gameScreen .players .player1 {
  background-color: #c2c2c2;
}
#gameScreen .players .player2 {
  margin-left: 1rem;
  background-color: #f63f63;
}

.username {
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
}

#nickname {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 10px;
}

.setnickname {
  display: block;
  border: none;
  padding: 0.2rem 0.2rem;
  margin: 0;
  text-decoration: none;
  background: #00a994;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-bottom: 1rem;
  width: 100%;
}
.setnickname:hover {
  background-color: #f63f63;
}

.leaderboard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  align-items: center;
  margin-left: 1rem;
  margin-top: 5rem;
}/*# sourceMappingURL=main.css.map */