@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import 'variables.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #090E11;
    min-height: 100vh;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100%;
    width: 1200px;
    background-color: #131C21;
    display: flex;
    border-radius: 10px;
    .chat {
        position: relative;
        width: 1200px;
        .self {
            background-color: #056162;
            margin-left: 90%;
            display: inline;
        }
        img {
            height: 100%;
            width: 100%;
            filter: brightness(50%);
        }
        ul {
            position: absolute;
            top: 0;
            padding: 30px;
            width: 100%;
            list-style: none;
            display: flex;
            flex-direction: column;
            li {
                background-color: #262D31;
                color: #fff;
                display: inline;
            }
        }
        .message {
            width: 100%;
            height: 3rem;
            background-color: #1E2428;
            position: absolute;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            input[type=text] {
                border: none;
                border-color: #1E2428;
                color: white;
                text-align: center;
                height: 1.5rem;
                background-color: #1E2428;
                font-weight: 600;
            }
            button {
                opacity: 0;
            }
        }
    }
    aside {
        height: 610px;
        width: 350px;
        background: #131C21;
        overflow-y: auto;
        .user {
            color: #fff;
            display: flex;
            flex-direction: row;
            padding: 15px;
            cursor: pointer;
            margin-top: 1rem;
            &:active {
                background-color: #0F1A20;
            }
            &:hover {
                background-color: #0F1A20;
                transition: 0.3s ease-in-out;
            }
            .avatar img {
                border-radius: 50%;
                height: 60px;
                width: 60px;
                margin-right: 40px;
                object-fit: cover;
            }
            .details {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: -15px;
                .green {
                    color: #25D366;
                    font-size: 0.9rem;
                }
                .name {
                    h3 {
                        font-size: 1rem;
                        font-weight: 500;
                    }
                }
                .message {
                    h6 {
                        font-size: 0.8rem;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}