<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <script defer src="./socket.io/socket.io.js"></script>
    <script defer src="js/index.js"></script>
    <title>Multiplayer snake</title>
</head>

<body>
    <main>
        <section class="startGame">
            <div id="initialScreen">
                <div class="flex">
                    <h1 class="introheader">Multiplayer Snake</h1>
                    <button type="submit" class="btn" id="newGameButton">
                            Create New Game
                        </button>
                    <p> OR </p>
                    <div class="form-group">
                        <input type="text" placeholder="Enter Game code" id="gameCodeInput">
                    </div>
                    <button type="submit" id="joinGameButton">
                            Join Game
                        </button>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div id="gameScreen">
                    <div>
                        <h1 id="gameCodeDisplay"></h1>
                        <canvas id="canvas"></canvas>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>