<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <script defer src="./socket.io/socket.io.js"></script>
    <script defer type="module" src="js/index.js"></script>
    <script defer src="js/nav.js"></script>
    <title>Multiplayer snake</title>
</head>

<body>
    <header>
        <nav role="navigation">
            <div id="menuToggle">
                <input type="checkbox" />
                <span></span>
                <span></span>
                <span></span>
                <ul id="menu">
                    <h3>Leaderboard top 10</h3>
                    <% data.forEach(function(data) {%>
                        <li>
                            <%= data.username %>
                                with
                                <%= data.wins %> win(s)
                        </li>
                        <% }) %>
            </div>
            </div>
            </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="startGame">
            <div id="initialScreen">
                <div class="flex">
                    <h1 class="introheader">Multiplayer Snake</h1>
                    <p id="error"></p>
                    <button type="submit" class="btn" id="newGameButton">
                            Create New Game
                        </button>
                    <p> OR </p>
                    <div class="form-group">
                        <%if (code) { %>
                            <input type="text" placeholder="Enter Game code" id="gameCodeInput" value="<%= code %>">
                            <% }  else {%>
                                <input type="text" placeholder="Enter Game code" id="gameCodeInput">
                                <% } %>
                    </div>
                    <button type="submit" id="joinGameButton">
                            Join Game
                        </button>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div id="gameScreen">
                    <div>
                        <h1 id="gameCodeDisplay"></h1>
                        <button id="Copy">Copy gamecode</button>
                        <div class="players">
                            <div class="player1">
                            </div>
                            <h4>Host</h4>
                            <div class="player2">
                            </div>
                            <h4>Joined player</h4>
                        </div>
                        <h2 id="countdown"></h2>
                        <canvas id="canvas"></canvas>
                    </div>
                </div>
            </div>
            <div id="overlay">
                <h2 id='gameover'></h2>
                <div id="overlaycontainer">
                    <button id='rematch'>Rematch opponent</button>
                    <button id='home'>Go back to home</button>
                </div>
            </div>
        </section>
    </main>
</body>

</html>